h1 {
    text-align: center;
    color: rgb(32, 118, 172);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline
}

h2 {
    text-align: center;
    background-color: rgba(128, 105, 3, 0.692);
    text-decoration: underline;
}
img {
    width: 450px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h3 {
    text-align: center;
    text-decoration: underline;
    background-color: rgba(128, 105, 3, 0.692);
}
p {
    text-align: center;
}
div {
    text-align: center
}

ul,
ol {
    text-align: left;
    display: inline-block;
}

#end {
    color: rgb(32, 118, 172);
    font-weight: bold;
    text-decoration: overline;
}
